body{
    background-image: url('../assets/img/pokimon-index.png');
    background-size: cover;
}

.titlePoki{
    font-family: Pokimon;
    color: black;
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: left;
    align-items: left;
    height: 60vh;
}
.container-seg{
    display: flex;
    justify-content: left;
    align-items: left;
    height: 0vh;
}

.container h1{
    font-size: 5rem;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titleSub-poki{
    justify-content: left;
}

.text-poki{
    color: black;
    font-family: Pokimon;
    font-size: 25px;
}

.botton-group{
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 10px;
}

.formulario-poki{
    background-color: gray;
    height: 90px;
    width: 30%;
    border-radius: 10PX;
    padding: 10px;
    box-shadow: #fff 0px 0px 20px;
    text-align: center;
}

table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

table td{
    font-family: Pokimon;
}

.botton-poki{
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 60%;
    font-size: 15px;
    font-family: Pokimon;
    border: none;
    margin: 6px;
    box-shadow: #fff 0px 0px 10px;
}

.botton-poki:hover{
    background-color: gray;
    color: red;
    cursor: pointer;
    box-shadow: #000 0px 0px 10px;
    transition: 0.5s;
}

.input-poki{
    border: solid 1px gray;
    border-radius: 10px;
    height: 20px;
    padding: 6px;
}

.link-poki{
    font-family: Pokimon;
    color: gray;
}


@font-face {
    font-family: 'Pokimon';
    src: url('../assets/fuentes/Minecraft.ttf') format('truetype');
}